body{
    background-image: url("/static/images/back1.jpg");
}

.mydiv{
    margin-top: 100px;
    background: rgba(121, 115, 147, 0.6);
    min-width: 350px;
    max-width: 360px;
    min-height: 330px;
    border: 1px solid silver;
    border-radius: 10px;
}

#userlogo{
    align-content: center;
    text-align: center;
}

#userlogo img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tabdiv{
    background: rgba(51, 135, 147, 0.6);
    padding: 10px;
}

.tablink{
    color: silver;
}

.bookdiv{
    background-color: whitesmoke;
    max-width: 1100px;
    border: 1px solid black;

}