<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask App</title>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1" name=viewport>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    
    <header>
    </header>
    
    <body>
    
    	{% block body %} {% endblock %}
    	
    </body>
</html>
